-----------------------------------------------------------
+                Esse arquivo contém todas                +
+         as bibliotecas (dependencies) necessárias       +
+              para que o programa consiga                + 
+              rodar sem maiores problemas.               +
-----------------------------------------------------------

Bibliotecas utilizadas:

+ sklearn
  - from sklearn.feature_extraction.text import TfidfVectorizer 
  - from sklearn.model_selection import train_test_split 
  - from sklearn.naive_bayes import MultinomialNB  
  - from sklearn.metrics import classification_report 

Instalação: Utilizar a seguinte linha de comando diretamente no CMD: pip install scikit-learn

+ pandas
  - import pandas as pd 

Instalação: Utilizar a seguinte linha de comando diretamente no CMD: pip install pandas

+ nltk
  - from nltk.corpus import stopwords  
  - from nltk.stem import PorterStemmer  
  - import nltk 

Instalação: Utilizar a seguinte linha de comando diretamente no CMD: pip install nltk

+ seaborn
  - import seaborn as sns 

Instalação: Utilizar a seguinte linha de comando diretamente no CMD: pip install seaborn

+ matplotlib
  - import matplotlib.pyplot as plt 

Instalação: Utilizar a seguinte linha de comando diretamente no CMD: pip install matplotlib


Autores:
Cauã Pacheco de Souza
Murilo Almeida Solino de Oliveira

